/* CSS Reset */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../assets/images/1.jpg"); /* תמונת רקע */
    background-attachment: scroll;
    background-repeat: no-repeat; /* לא לשכפל את התמונה */
    background-position: center; /* למרכז את התמונה */
    background-size: cover; /* למרוח את התמונה על כל המסך */
    display: flex;

    flex-direction: column;
    justify-content: center;
    /* Center the page horizontally */
    align-items: center;
    /* Center the page vertically */
    font-family: 'Lato', sans-serif;
}
/* Watch */
#timer {
    font-size: 150px;
}
/* Watch */
h1 {
    color: white;
    font-size: 190px;
}
/* text */
h2 {
    font-family: 'Notable', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 150px;
    color: rgb(88, 84, 84);
}
/* icon */
h3 {
    color: rgb(53, 36, 180);
    font-size: 70px;
}
/* button */
.btn {
    color: rgb(211, 6, 6);
    font-size: 70px;
}
/* (Clickable) שינוי צורה של העכבר  */
button:hover {
    cursor: pointer;
}
/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Playfair+Display&display=swap');